{
  "presets": ["react-app"],
  "plugins": [
    "@babel/plugin-syntax-import-attributes",
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ],
  "env": {
    "development": {
      "plugins": ["@babel/plugin-syntax-import-attributes"]
    },
    "production": {
      "plugins": ["@babel/plugin-syntax-import-attributes"]
    }
  }
}
